<ion-header >
  <ion-toolbar> 
    
    <ion-button slot="start" fill="clear" class="botonHeaderTransparente" (click)="this.terminarVentana = true"  *ngIf="this.currentSlide != 'Tutorial' && this.currentSlide != 'Final' && this.currentSlide != 'Resultados'" ></ion-button>

      <ion-button color="azul" class="botonHeader" slot="start" href="./" *ngIf="this.currentSlide === 'Tutorial'"> <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon> </ion-button>
         
      <ion-button color="morado" class="botonHeader" (click)="onNextButtonTouched()" slot="end" *ngIf="this.currentSlide === 'Tutorial'"> Comenzar </ion-button>


    <div *ngIf="this.texto" >

      <ion-title class="ion-text-center">
      <div class="titulo">

        <div *ngIf="this.currentSlide == 'Tutorial'">
          Tutorial
        </div>

        <div *ngIf="this.currentSlide == 'Final'">
          {{this.preguntaFinal}}
        </div>

        <div *ngIf="this.currentSlide == 'Resultados'">
          Resultados
        </div>

        <div *ngIf="!this.terminarVentana && this.currentSlide != 'Resultados' && this.currentSlide != 'Tutorial' && this.currentSlide != 'Final'">
          <ion-grid>
            <ion-row>
              <ion-col>
                PREGUNTA {{this.currentSlide.split('_')[1]}}
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                {{this.juego.instrucciones}}
              </ion-col>
            </ion-row>
          </ion-grid>
          
          
        </div>

        <div *ngIf="this.terminarVentana">
          ¿Terminar el juego?
        </div>

      </div>
    </ion-title>
    </div>

    

    <ion-button slot="end" color="morado" class="botonHeader" (click)="onNextButtonTouched()" *ngIf="this.currentSlide != 'Tutorial' && this.currentSlide != 'Final'" > <ion-icon name="arrow-forward-outline" slot="icon-only"></ion-icon></ion-button>

    <ion-button slot="end" color="morado" class="botonHeader" (click)="onNextButtonTouched()" *ngIf="this.currentSlide == 'Final'"> <ion-icon name="arrow-forward-outline" slot="icon-only" ></ion-icon></ion-button>




  </ion-toolbar>

</ion-header>

<ion-content >
  <ion-slides [options]="slidesOpts" (ionSlideDidChange)="onSlidesDidChange()"
  (ionSlideWillChange)="onSlidesChanged()">
    <ng-container *ngFor="let slide of slides" >
      <ion-slide>

        <div class="center" *ngIf="this.currentSlide === 'Tutorial'">
          
          <div class="middleEjercicio">
            <ion-grid>
              <ion-row>
                <ion-col size="3">

                  <div class="elementoImg">
           
                    <ion-button class="botonImagen" slot="start"> 
                      <ion-grid>
                        <ion-row>
                          <ion-col class="colCenter">
                            <ion-img class="imagen" src={{ejercicioTutorial[0].img}} ></ion-img>
                          </ion-col>
                        </ion-row>
      
                        <div *ngIf="this.texto" >
                          <ion-row>
                            <ion-col class="colCenter">
                              <ion-text class="textoImg">{{ejercicioTutorial[0].texto}}</ion-text>
                            </ion-col>
                          </ion-row>  
                        </div>
                        
                      </ion-grid>
                      
                    </ion-button>
      
                  </div>
                </ion-col>

                <div class="elementos6">
                  <div class="elemento" *ngFor="let elem of ejercicioTutorial">
           
                    <ion-button [ngClass]="this.esRepetido ? 'botonImagen' : isSeleccionado(elem.id)" (click)="seleccionar(elem.id)" slot="start" *ngIf="elem.tipo != 'imagen'">
                      <ion-grid>
                        <ion-row>
                          <ion-col class="colCenter">
                            <ion-img class="imagen" src={{elem.img}} ></ion-img>
                          </ion-col>
                        </ion-row>
      
                        <div *ngIf="this.texto" >
                          <ion-row>
                            <ion-col class="colCenter">
                              <ion-text class="textoImg">{{elem.texto}}</ion-text>
                            </ion-col>
                          </ion-row>  
                        </div>
                        
                      </ion-grid>
                      
                    </ion-button>
      
                  </div>
                </div>

                <ion-col>

                </ion-col>
              </ion-row>
            </ion-grid>

                  
          </div>

          <div class="middleTutorial">
            <div class="inner">
              <div *ngIf="this.texto" >
                <div class="parrafo">
                  <ion-text>
                    {{juego.descrip_tutorial}}
                  </ion-text>
                </div>
              </div>
            </div>
          </div>

        </div>


      <div class="center" *ngIf="this.currentSlide == ('Ejercicio_' + (this.currentEjNum).toString())">
        
        <div class="middleEjercicio">
          <div class="inner">
            <div [ngClass]="this.terminarVentana ? 'repetir' : 'norepetir'">
              <div [ngClass]="getClaseOrganImg(this.currentEj.length)">
                <div class="elemento" *ngFor="let elem of this.currentEj">
        
                  <ion-button [ngClass]="isSeleccionado(elem.id)" (click)="seleccionar(elem.id)" slot="start"> 
                    <ion-grid>
                      <ion-row>
                        <ion-col class="colCenter">
                          <ion-img class="imagen" src={{elem.img}} ></ion-img>
                        </ion-col>
                      </ion-row>
      
                      <div *ngIf="this.texto" >
                        <ion-row>
                          <ion-col class="colCenter">
                            <ion-text class="textoImg">{{elem.texto}}</ion-text>
                          </ion-col>
                        </ion-row>
                      </div>
                    </ion-grid>
                    
                  </ion-button>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="center" *ngIf="this.currentSlide == 'Resultados'">
        
        <div class="middleEjercicio">
          <div class="inner">
            
    
            <div *ngIf="this.juego.resultadoNum" >
            <div class="elementos">
    
                <div class="elemento" *ngIf="this.resultadosNegativos">
                <ion-button class='botonImagen' slot="start">
                <ion-grid>
                  <ion-row>
                    
                      <ion-col class="colCenter">
                        <div *ngIf="this.juego.resultadoPicto">
                          <ion-img class="imagen" src="../../assets/pictoFallar.png" ></ion-img>
                        </div>
      
                        <div *ngIf="!this.juego.resultadoPicto">
                          <ion-text class="titulo">
                            Fallos
                          </ion-text>
                        </div>
                      </ion-col>
                  
                  </ion-row>
              
                  
                  <div *ngIf="this.texto" >
                    <ion-row>
                      <ion-col class="colCenter">
                        <ion-text class="titulo">{{this.getNumErroresTotal()}}</ion-text>
                      </ion-col>
                    </ion-row>
                  </div>
    
                  
    
                </ion-grid>
              </ion-button>
    
            </div>
    
              <div class="elemento" *ngIf="this.resultadosPositivos">
              <ion-button class='botonImagen' slot="start">
                    <ion-grid>
                  <ion-row>
                    <ion-col class="colCenter">
                      <div *ngIf="this.juego.resultadoPicto">
                        <ion-img class="imagen" src="../../assets/pictoAcertar.png" ></ion-img>
                      </div>
    
                      <div *ngIf="!this.juego.resultadoPicto">
                        <ion-text class="titulo">
                          Aciertos
                        </ion-text>
                      </div>
                    </ion-col>
                  </ion-row>
    
                  <div *ngIf="this.texto" >
                    <ion-row>
                      <ion-col class="colCenter">
                        <ion-text class="titulo">{{this.getNumAciertosTotal()}}</ion-text>
                      </ion-col>
                    </ion-row>
                  </div>
    
                
                </ion-grid>
              </ion-button>
    
            </div>
    
              </div>
    
              <div *ngIf="!this.juego.resultadoNum">
    
                <div class="elemento">
                  <ion-row>
                    <ion-col class="colCenter">
                      <ion-img class="imagen" [src]='this.resultadoPicto()' ></ion-img>
                    </ion-col>
                  </ion-row>
                </div>
              </div>   
            </div>
          </div>
        </div>
      </div>

      

      <div class="center" *ngIf="this.currentSlide == 'Final'">
        
        <div class="middleEjercicio">
          <div class="inner">
            
            <div [ngClass]="getClaseOrganImg(this.preguntasFinal.length)">
              <div class="elemento" *ngFor="let elem of this.preguntasFinal">
        
                <ion-button [ngClass]="this.isSeleccionado(elem.id)" (click)="seleccionarFinal(elem.id.toString())" slot="start"> 
                    <ion-grid>
                      <ion-row>
                        <ion-col class="colCenter">
                          <ion-img class="imagen" src={{elem.img}} ></ion-img>
                        </ion-col>
                      </ion-row>
      
                      <div *ngIf="this.texto" >
                        <ion-row>
                          <ion-col class="colCenter">
                            <ion-text class="textoImg">{{elem.texto}}</ion-text>
                          </ion-col>
                        </ion-row>
                      </div>
                    </ion-grid>
                    
                  </ion-button>
      
                </div>
              </div>
            </div>
         
        </div>
      </div>

         

    </ion-slide>
  </ng-container>
</ion-slides>

</ion-content>

<ion-footer >
  <ion-toolbar>

    <div *ngIf="this.juego.refNegativo && this.isFallo && !this.terminarVentana  && this.currentSlide != 'Final'" class="colCenter">
      
      <div *ngIf="this.texto" >
        <ion-text class="refuerzoNegativo">
            Selección incorrecta. Inténtalo de nuevo.
        </ion-text>
      </div>

      <div *ngIf="this.picto" >
        <ion-img class="picto" src="../../assets/pictoFallar.png"></ion-img>

      </div>

    </div>

    <div *ngIf="this.juego.refPositivo && this.encontrado && this.currentSlide != 'Final' && !this.terminarVentana" class="colCenter">  
      
      <div *ngIf="this.texto" >

        <ion-text class="refuerzoPositivo">
            Correcto. ¡Muy bien!
        </ion-text>
      </div>

      <div *ngIf="this.picto" >
        <ion-img class="picto" src="../../assets/pictoAcertar.png"></ion-img>

      </div>


    </div>

    <div *ngIf="this.todosUnidosTutorial && this.currentSlide == 'Tutorial'" class="colCenter">
      
      <ion-button color="verdeClaro" slot="center" class="botonHeaderRepetir" (click)="repetirEjTutorial()"> <ion-icon name="refresh-outline" slot="start"></ion-icon> Repetir </ion-button>
   
    </div>

    <div *ngIf="this.terminarVentana " class="colCenter">
        <ion-button class="botonHeaderRepetir" (click)="botonTerminar()">
          NO
        </ion-button>
  
        <ion-button class="botonHeaderRepetir" (click)="this.terminar()">
          SI
        </ion-button>
    </div>

    

          
  </ion-toolbar>
</ion-footer>
