.profileUser{
    border: 2px solid gray;
    object-fit: cover;
    border-radius: 40px !important;
    overflow: hidden;
    height: 25vw; 
    width: 25vw; 
    margin-bottom: 3%;
    margin-top: 3%;
  }


  ion-item{
      margin: 25px;
  }
  
  .colCenter {
    display: flex;
    justify-content: center;
  }

  .botonSeleccionar{
    margin-left: 10px;
  }