<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  
    <ion-title class="ion-text-center"> Alumnos </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>

    <div class="alumnos">
      <div class="alumno" *ngFor="let alumno of alumnos">

        <ion-grid >
          <ion-row class="colCenter">
              
            <div *ngIf="alumno.fotoPerfil == '' || alumno.fotoPerfil == null">
              <ion-img [routerLink]="['./', 'alumno', alumno.id]" class="profileUser" src="../../assets/sinFoto.png" ></ion-img>
            </div>

            <div *ngIf="alumno.fotoPerfil != '' && alumno.fotoPerfil != null">
              <ion-img [routerLink]="['./', 'alumno', alumno.id]" class="profileUser" src={{alumno.fotoPerfil}} ></ion-img>
            </div>
              
              
          
          </ion-row>
 
          <ion-row class="colCenter">
            <div class="nombreSection">
              <ion-text class="nombreAlumno"> {{alumno.nombre}} </ion-text>
            </div>
              
          </ion-row>
        </ion-grid>

      </div>
      
        <div class="botonSection">
          <ion-button class="botonCrear" slot="icon-only" size="large" color="dark" href="/crear-alumno">
            <ion-icon [name]="'add-circle-outline'"></ion-icon>
          </ion-button>

        </div>

        <div class="botonSection">
          <ion-button class="botonCrear" slot="icon-only" size="large" color="dark" (click)="borrar()">
            <ion-icon [name]="'add-circle-outline'"></ion-icon>
          </ion-button>

        </div>
    </div>   

</ion-content>
