<ion-header>
  <ion-toolbar>
    <ion-button slot="start" (click)="cerrar()"><ion-icon name="close-circle-outline"></ion-icon></ion-button>
    <ion-title *ngIf="numEjer != 0">Ejercicio {{ numEjer }}</ion-title>
    <ion-title *ngIf="numEjer == 0">Ejercicio tutorial</ion-title>
    <ion-button slot="end" (click)="create()">Crear</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Pregunta {{this.numPregunta}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="preguntaForm" #preguntaFormRef="ngForm" novalidate >

              <ion-grid>

                <ion-row>
                  <ion-col>
                    <ion-item lines="none">
                    <ion-label> Música </ion-label>
                    <ion-button (click)="this.selectAudio()">
                      <ion-icon slot="start" name="musical-notes"></ion-icon>
                      Seleccionar
                    </ion-button>
                  </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-label>Color</ion-label>
                  </ion-col>
  
                  <ion-col>
                    <ion-label>Imagen asociada</ion-label>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <div class="flex align-items-center full-width ion-margin-top">
                      <div class="ion-margin-end">
                        
                        <ion-button strong shape="round" color="primary" size="small" (click)="presentActionSheet('unirColor_color')">
                          Seleccionar
                        </ion-button>
                      </div>
                      <div>
                        <img class="img-thumb"  [src]="this.img_color" *ngIf="this.img_color != null">
                      </div>
                    </div>
  
                    <ion-text color="danger">
                      <span class="text-tiny"
                        [style.visibility]="this.img_color == null && preguntaFormRef.submitted ? '' : 'hidden'">
                        Debe seleccionar una imagen
                      </span>
                    </ion-text>
  
                  </ion-col>
  
                  <ion-col>
                    <div class="flex align-items-center full-width ion-margin-top">
                      <div class="ion-margin-end">
                        
                        <ion-button strong shape="round" color="primary" size="small" (click)="presentActionSheet('unirColor_img_asociada')">
                          Seleccionar
                        </ion-button>
                      </div>
                      <div>
                        <img class="img-thumb" [src]="this.img_asociada" *ngIf="this.img_asociada != null">
                      </div>
                    </div>
  
                    <ion-text color="danger">
                      <span class="text-tiny"
                        [style.visibility]="this.img_asociada == null && preguntaFormRef.submitted ? '' : 'hidden'">
                        Debe seleccionar una imagen
                      </span>
                    </ion-text>
  
                  </ion-col>
  
                </ion-row>

                <ion-row>
                  <ion-col>
  
                   
                        <ion-item lines="none">
                          <ion-label position="floating">Texto</ion-label>
                          <ion-input clear-input="true" type="text" formControlName="texto_color"></ion-input>
                        </ion-item>
                        <ion-text color="danger">
                          <span class="text-tiny"
                            [style.visibility]="textoColor?.errors?.required && preguntaFormRef.submitted ? '' : 'hidden'">
                            Campo obligatorio
                          </span>
                        </ion-text>
  
                  </ion-col>
  
                  <ion-col>
  
                   
                    <ion-item lines="none">
                      <ion-label position="floating">Texto</ion-label>
                      <ion-input clear-input="true" type="text" formControlName="texto_img"></ion-input>
                    </ion-item>
                    <ion-text color="danger">
                      <span class="text-tiny"
                        [style.visibility]="textoImg?.errors?.required && preguntaFormRef.submitted ? '' : 'hidden'">
                        Campo obligatorio
                      </span>
                    </ion-text>
  
              </ion-col>
                </ion-row>

              </ion-grid>
              
            </form>
          
            <ion-button (click)="add()">Añadir</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <ion-list *ngFor="let pregunta of preguntas; index as i;">
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-title>Pregunta {{i+1}}</ion-title>
                </ion-col>

                <ion-col>
                  <ion-button (click)="delete(i)"><ion-icon [name]="'trash-outline'"></ion-icon></ion-button>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-label>Color</ion-label>
                </ion-col>

                <ion-col>
                  <ion-label>Asociada</ion-label>
                </ion-col>
              </ion-row>
            

            <ion-row>
                <ion-col>
                  <img class="img-thumb" [src]="pregunta.color">
                </ion-col>

                <ion-col>
                  <img class="img-thumb" [src]="pregunta.asociada">
                </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-text>{{pregunta.texto_color}}</ion-text>
              </ion-col>

              <ion-col>
                <ion-text>{{pregunta.texto_asociada}}</ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>






  </ion-grid>


</ion-content>
