<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  
    <ion-title class="ion-text-center"> Juegos </ion-title>
         
    
  </ion-toolbar>
</ion-header>

<ion-content>


    <div class="juegos">
      <div class="juego">

        <ion-grid >
          <ion-row class="colCenter">
            
              <ion-img [routerLink]="['./', 'unirColor']" class="portada" src="../assets/portadasJuegosTipo/unirColorPortada.png" ></ion-img>
          
          </ion-row>
 
          <ion-row class="colCenter">
            <div class="nombreSection">
              <ion-text class="nombreJuego"> Unir con color </ion-text>
            </div>
              
          </ion-row>
        </ion-grid>

      </div>

      <div class="juego">

        <ion-grid >
          <ion-row class="colCenter">
            
              <ion-img [routerLink]="['./', 'elegirEmocion']" class="portada" src="../assets/portadasJuegosTipo/elegirEmocionPortada.png" ></ion-img>
          
          </ion-row>
 
          <ion-row class="colCenter">
            <div class="nombreSection">
              <ion-text class="nombreJuego"> Elegir la emoción </ion-text>
            </div>
              
          </ion-row>
        </ion-grid>

      </div>

      <div class="juego">

        <ion-grid >
          <ion-row class="colCenter">
            
              <ion-img [routerLink]="['./', 'buscarIntruso']" class="portada" src="../assets/portadasJuegosTipo/buscarIntrusoPortada.png" ></ion-img>
          
          </ion-row>
 
          <ion-row class="colCenter">
            <div class="nombreSection">
              <ion-text class="nombreJuego"> Busca el intruso </ion-text>
            </div>
              
          </ion-row>
        </ion-grid>

      </div>

      <div class="juego">

        <ion-grid >
          <ion-row class="colCenter">
            
              <ion-img [routerLink]="['./', 'unirFrase']" class="portada" src="../assets/portadasJuegosTipo/unirFrasePortada.png" ></ion-img>
          
          </ion-row>
 
          <ion-row class="colCenter">
            <div class="nombreSection">
              <ion-text class="nombreJuego"> Unir con la frase </ion-text>
            </div>
              
          </ion-row>
        </ion-grid>

      </div>

      <div class="juego">

        <ion-grid >
          <ion-row class="colCenter">
            
              <ion-img [routerLink]="['./', 'hacerPareja']" class="portada" src="../assets/portadasJuegosTipo/hacerParejasPortada.png" ></ion-img>
          
          </ion-row>
 
          <ion-row class="colCenter">
            <div class="nombreSection">
              <ion-text class="nombreJuego"> Hacer parejas </ion-text>
            </div>
              
          </ion-row>
        </ion-grid>

      </div>

      <div class="juego">

        <ion-grid >
          <ion-row class="colCenter">
            
              <ion-img [routerLink]="['./', 'asociarImagen']" class="portada" src="../assets/portadasJuegosTipo/asociarImagenPortada.png" ></ion-img>
          
          </ion-row>
 
          <ion-row class="colCenter">
            <div class="nombreSection">
              <ion-text class="nombreJuego"> Asociar con la imagen </ion-text>
            </div>
              
          </ion-row>
        </ion-grid>

      </div>
      
        
    </div>   

</ion-content>
